@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/*Asus Zenbook*/
/*Algemene kleuren, eenmalig hier zetten en later namen ervan overnemen bij aparte tussencodes*/
:root {
	--main-color: #464377;
	--color-dark: #232733;
	--text-grey:  #9DA3AA;
}

* {
	/*Alles in dit lerrertype weergeven, zonder schreef*/
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0.5px;
	/*Zonder een decoratie worden weergegeven*/
	text-decoration: none;
	/*Geen opsommingstekens of iets*/
	list-style-type: none;
	box-sizing: border-box;
}

body {
	background-color: #BCB5D8;
}

h2 {
	color: #464377;
	font-family:'Poppins', sans-serif;
	font-size: 40px;
}

h3 {
	font-size: 25px;
	color: #7774A0;
}

#sidebar-toggle {
	display: none;
}

.sidebar {
	height: 100%;
	width: 240px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	/*Achtergrond kleur, staat in root bovenaan*/
	background: var(--main-color);
	/*Logo van SpaceX, naam zelf en hamburgermenu in deze kleur weergeven*/
	color: #E6E4FE;
	overflow-y: auto;
	transition: width 500ms;
}

.sidebar-header {
	/*Op een bepaalde manier zetten, waardoor ze netjes staan en niet rommelig door elkaar heen*/
	display: flex;
	/*Gelijkmatige tussenruimte SpaceX en hamburgermenu bovenaan de sidebar*/
	justify-content: space-between;
	align-items: center;
	height: 60px;
	/*Kleine afstand van einde van de sidebar, zodat het er netjes binnen blijft en niet kruist met de uiteindes van de sidebar*/
	padding: 0rem 1rem;
}

/*Het menu die zich in de sidebar bevindt, een leeg ruimte creeeren vanaf de zijkant, zodat het niet geplakt is aan de rand*/
.sidebar-menu {
	padding: 1rem;
}

/*Afstand vanaf de onderkant van de tekst, zodat de tekst niet te dicht op elkaar zit*/
.sidebar li {
	margin-bottom: 1.3rem;
}

/*Tekstkleur, overige onder SpaceX en hamburgermenu wit maken, voor een betere leesbaarheid*/
.sidebar a {
	color: #FFFFFF;
	/*Lettergrootte*/
	font-size: 1rem;
}

/*Kleine afstand tussen icoon en bijbehorende tekst*/
.sidebar a span:last-child {
	padding-left: 0.6rem;
}

#sidebar-toggle:checked ~ .sidebar {
	width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span, 
#sidebar-toggle:checked ~ .sidebar li span:last-child {
	display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header, 
#sidebar-toggle:checked ~ .sidebar li {
	display: flex;
	justify-content: center;
}

/*Zodra op hamburgermenu wordt geklikt, search enz. naar links*/
#sidebar-toggle:checked ~ .main-content {
	margin-left: 60px;
}

/*Zodra op hamburgermenu wordt geklikt, naar links gaan*/
#sidebar-toggle:checked ~ .main-content header {
	left: 60px;
}

.main-content {
	position: relative;
	margin-left: 300px;
	transition: margin-left 500ms;
}

header {
	/*Op zelfde plek blijven, ongeacht of er wordt gescrold of niet*/
	position: fixed;
	z-index: 100;
	/*Breedte, van totale scherm nog 240px van af halen (van het menu) dat die daar bovenaan staat*/
	width: 100%;
	/*Achtergrondkleur wit*/
	background: white;
	left: 240px;
	height: 60px;
	/*Op een bepaalde manier zetten, waardoor ze netjes staan en niet rommelig door elkaar heen*/
	display: flex;
	padding: 0rem 1rem;
	align-items: center;
	/*Gelijkmatige ruimte tussen onderdelen*/
	justify-content: space-between;
	/*Onderkant van de border een zwarte lijn van 1px*/
	border-bottom: 1px solid black;
	transition: left 500ms;
}

.search-wrapper {
	/*Op een bepaalde manier zetten, waardoor ze netjes staan en niet rommelig door elkaar heen*/
	display: flex;
	align-items: center;
}


/*Geen randen of iets, enkel invuloptie met placeholder die zichtbaar is*/
.search-wrapper input {
	border: 0;
	outline: 0;
	padding: 1rem;
	height: 38px;
}

main {
	margin-top: 60px;
	/*Achtergrondkleur*/
	background: #BCB5D8;
	/*Minimaal van totale grootte van het scherm*/
	min-height: 90vh;
	padding: 1rem 3rem;
}

#map {
  height: 75vh;
  width: 85vh;
}



/*Laptop with Touch*/
@media only screen and (max-width: 1280px) {
	.sidebar {
		width: 60px;
		z-index: 150;
	}

	.sidebar .sidebar-header h3 span, 
	.sidebar li span:last-child {
		display: none;
	}

	.sidebar .sidebar-header, 
	.sidebar li {
		display: flex;
		justify-content: center;
	}

	.main-content {
		margin-left: 60px;
	}

	.main-content header {
		left: 60px;
		width: calc(100%-60px);
	}

	#sidebar-toggle:checked ~ .sidebar {
		width: 240px;
	}

	#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span, 
	#sidebar-toggle:checked ~ .sidebar li span:last-child {
		display: inline;
	}

	#sidebar-toggle:checked ~ .sidebar .sidebar-header {
		display: flex;
		justify-content: space-between;
	}

	#sidebar-toggle:checked ~ .sidebar li {
		display: block;
	}

	#sidebar-toggle:checked ~ .main-content {
		margin-left: 60px;
	}	

	#sidebar-toggle:checked ~ .main-content header {
		left: 60px;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 20px;
	}

	#map {
		height: 70vh;
		width: 80vh;
	}
}

/*iPad*/
@media only screen and (max-width: 768px) {
	h2 {
		font-size: 33px;
	}

	h3 {
		font-size: 25px;
	}

	#map {
		height: 20vh;
		width: 30vh;
	}
}

/*Mobiel*/
@media only screen and (max-width: 480px) {
	h2 {
		font-size: 25px;
	}

	h3 {
		font-size: 20px;
	}

	#map {
		height: 10vh;
		width: 10vh;
	}
}
